<div class="container">
    <!-- Dropdown Inputs -->
      <div class="row mx-auto d-flex justify-content-center">
        <div id="box" (click)="input.focus()" class="col-11 col-lg-6 box px-1 mt-2 d-flex flex-wrap">
          <span class="fas fa-filter fa-lg my-auto ml-3 mr-1"></span>
  
          <!-- List of Selected Badges -->
          <ul id="badges" class="d-inline-flex align-items-center p-0 m-0" *ngFor="let selected_item of selected">
            <li  (click)="toggle_skill(selected_item)" class="badge badge-pill pointer px-2 m-1">
                {{ selected_item }}
                <span class="far fa-times-circle fa-lg"></span>
            </li>
          </ul>
  
          <!-- Search Input -->
          <input 
            #input
            type="text"
            placeholder="Search"
            [size]="search_size"
            (focus)="content('show')"
            (keydown)="keydown($event)"
            (keyup.enter)="search(input.value)"
            (ngModelChange)="modelChange($event)"
            [ngModel]=""
            [ngModelOptions]="{ standalone: true }"
            class="p-0 ml-1 d-flex align-items-center"
          />
       
          <!-- Clear Button -->
          <div title="Clear All" (click)="clear()" *ngIf="selected.length > 0" class="clear p-2 ml-auto my-auto">
            <span class="fas fa-times pointer fa-lg"></span>
          </div>
        </div>
  
        <!-- Dropdown Button -->
        <div
          id="caret"
          (click)="input_focused ? content('hide') : content('toggle')"
          class="col-1 caret pointer p-0 mt-2 d-flex justify-content-end"
        >
          <span title="Toggle Dropdown" class="my-auto mx-auto p-0">
            <i class="fas fa-sort fa-lg"></i>
          </span>
        </div>
      </div>
  
      <!-- Dropdown Content -->
      <div class="row mx-auto d-flex justify-content-center">
        <div id="dropdown-content" class="col col-lg-7 dropdown-content pointer hide">
          <!-- List of Skills/Suggestions -->
          <ul class="p-0 m-0">
            <li
              [id]="skills_list.indexOf(item)"
              *ngFor="let item of suggestions; let i = index"
              [ngClass]="includeBG(item)"
              (click)="toggle_skill(item)"
              [class.active]="i == arrowkey_position" 
              (focus)="(i == arrowkey_position)"
              class="m-0"
            >
              <div class="checkbox-hide">
                <label>
                  <input type="checkbox" (click)="toggle_skill(item)" />
                  {{ item }}
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>
  </div>